{% extends "dashboard/index.html.twig" %}


{% block search_bar %}
	{% include 'employee/searchbar.html.twig' %}
{% endblock %}

{% block section %}
	<section>

		<form action="{{ path('saveUpdateEquipment', { 'id':eqp.id}) }}" method="post" enctype="multipart/form-data" class="scrollable_Y p-4" style="height:450px;">
			<div data-mdb-input-init class="form-outline mb-4 d-flex justify-content-center">
				<div class="project">
					<div class="hdImg">
						<img alt="image de material" id="image_holder" class="againImg" src="{{asset('images/equipment/' ~ eqp.image)}}" onclick="document.getElementById('image_uploader').click()">
					</div>
					<input type="file" name="image" id="image_uploader" class="d-none">
					<input type="text" name="original_image" value="{{eqp.image}}" class="d-none">

				</div>
			</div>
			<div data-mdb-input-init class="form-outline mb-4">
				<label class="form-label" for="typePasswordX-2">type</label>
				<select name="type"  class="form-control form-control-lg">
					<option value="laptop" {% if eqp.type == 'laptop' %} selected {% endif %}>laptop</option>
					<option value="ecrant" {% if eqp.type == 'ecrant' %} selected {% endif %}>ecrant</option>
					<option value="impriment" {% if eqp.type == 'impriment' %} selected {% endif %}>impriment</option>
				</select>
			</div>
			<div data-mdb-input-init class="form-outline mb-4">

				<label class="form-label fs-5" for="typeEmailX-2">mark</label>
				<input type="text" id="typeEmailX-2" name="mark" minlength="4" value="{{eqp.nom}}" class="form-control form-control-lg" required/>

			</div>
			<div data-mdb-input-init class="form-outline mb-4">
				<label class="form-label" for="typePasswordX-2">model</label>
				<input type="text" id="typePasswordX-2" name="model" value="{{eqp.model}}" class="form-control form-control-lg" minlength="4" required/>

			</div>


			<div data-mdb-input-init class="form-outline mb-4">
				<label class="form-label" for="typePasswordX-2">description</label>
				<textarea name="description" id="" name="description" class="form-control form-control-lg">{{eqp.description}}</textarea>

			</div>
			<div data-mdb-input-init class="form-outline mb-4">
				<label class="form-label" for="typePasswordX-2">state</label>
				<select name="state" id="equipment_state" class="form-control form-control-lg">
					<option value="disponible" {% if eqp.state == 'disponible' %} selected {% endif %}>disponible</option>
					<option value="mantonance" {% if eqp.state == 'mantonance' %} selected {% endif %}>mantonance</option>
					<option value="utiliser" {% if eqp.state == 'utiliser' %} selected {% endif %}>utiliser</option>
				</select>
			</div>
			<div data-mdb-input-init class="form-outline mb-4" id="distination">
			{% if eqp.state=='mantonance'%}
				
					<label class="form-label" for="typePasswordX-2">description de mantonance</label>
					<textarea name="description" id="" name="mnt_desc" class="form-control form-control-lg"></textarea>

				
			{% elseif eqp.state=='utiliser' %}
				
					<label class="form-label" for="typePasswordX-2">state</label>
					<select name="state" id="user" class="form-control form-control-lg">
						{% for Emp in Emps %}
							<option value="{{Emp.id}}">{{Emp.name}}
								{{Emp.lastname}}</option>
						{% endfor %}
			
					</select>
				
			{% endif %}
			</div>

			<button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">sauvegarder</button>
		</form>


	</section>


	<div class="d-none">
		<div id="mantonance_Desc">
			<label class="form-label" for="typePasswordX-2">description de mantonance</label>
			<textarea  id="" name="mnt_desc" class="form-control form-control-lg"></textarea>

		</div>
		<div id="employeesList">
			<label class="form-label" for="typePasswordX-2">state</label>
			<select name="state" id="user" class="form-control form-control-lg">
				{% for Emp in Emps %}
					<option value="{{Emp.id}}">{{Emp.name}}
						{{Emp.lastname}}</option>
				{% endfor %}

			</select>
		</div>
	</div>

{% endblock %}


{% block jscript %}
	<script src="{{asset('js/upload_image.js')}}"></script>
	<script src="{{asset('js/equipment_state.js')}}"></script>
{% endblock %}
